body {
    position: absolute;
    padding-top: 30%;
    text-align: center;
    right: 40%;
    width: 350px;
    height: 200px;
    
}
.firstname {
    padding: 10px;

}
.lastname {
    padding: 10px;

}
.submit {
    padding: 10px;

}
.contactme {
    border: 3px solid black;
}
head {
    padding: 500px;
}
form {
    border: 1px solid gray;
    font-family: Montserrat;
    font-weight: bold;
    
}